.crop {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #000;
  z-index: 99;
  touch-action: none;
  transition: .3s transform;
  -webkit-transition: .3s -webkit-transform;
  user-select: none;
}

.crop_hide {
  display: none;
}

.crop_slide-to-left {
  transform: translate3d(-100%, 0, 0);
}

.crop_slide-to-right {
  transform: translate3d(100%, 0, 0);
}

.crop_slide-to-top {
  transform: translate3d(0, -100%, 0);
}

.crop_slide-to-bottom {
  transform: translate3d(0, 100%, 0);
}

.crop__zoom {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.crop__mask {
  position: absolute; 
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .6);
  box-sizing: content-box;
  z-index: 1;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: inherit;
  }
}

.crop__handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  transform: translateZ(0);
  z-index: 3;
  & div {
    height: 100%;
    width: 80px;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
}

.crop__handle-cancle {
  float: left;
}

.crop__handle-confirm {
  float: right;
}
